/* RESET */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";content: none;}
table {border-collapse: collapse;border-spacing: 0;}
img, iframe {vertical-align: bottom;max-width: 100%;}
input, textarea, select {font: inherit;}
* {vertical-align: baseline;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; -webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility;}

/* Fonts */
@font-face {
    font-family: 'Du Nord';
    src: url('DuNord-Medium.eot');
    src: url('DuNord-Medium.eot?#iefix') format('embedded-opentype'), url('DuNord-Medium.woff2') format('woff2'), url('DuNord-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Du Nord';
    src: url('DuNord-MediumItalic.eot');
    src: url('DuNord-MediumItalic.eot?#iefix') format('embedded-opentype'), url('DuNord-MediumItalic.woff2') format('woff2'), url('DuNord-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
/* Site */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Du Nord", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:medium;
  font-size: 16px;
  line-height: 20px;
  background: #000;
  color: #fff;
  margin: 20px;
}
h1 {font-size: 16px;line-height: 20px;font-weight: 400;}
em, i {font-style: italic;}
a {text-decoration: none;color: #fff;}
a:hover {color: #c91248;}

::-moz-selection {background: rgba(255, 255, 255, 1.0); color: #fff; text-shadow: none;}
::selection {background: rgba(255, 255, 255, 1.0); color: #fff; text-shadow: none;}

/* Mobile First */
.summary, .info{margin:0;}
.summary {display:block;margin-top:20px;margin-bottom: 0px;}
.work {display:block;position: absolute;top: 20px;right: 20px;z-index: -1;}
.info {display:block;position: absolute;left: 20px;bottom: 20px;}
.info div{display:inline-block;margin:0 20px 0 0;}
.connect {display:block;position: absolute;right: 20px;bottom: 20px;}
.main {max-width: 500px;}
.work {max-width: 300px;}
.connect {width: 300px;text-align:right;margin:0;}
.connect li{display: inline-block;margin:0 0 0 20px;font-size:16px;}

/* Media Queries */
@media (min-width: 700px) {
	body{margin:40px;}
  .work{top: 40px;right: 40px;}
  .info {display:block;position: absolute;left: 40px;bottom: 40px;}
  .info div{display:inline-block;margin:0 40px 0 0;}
  .connect {display:block;position: absolute;right: 40px;bottom: 40px;}
}
@media (min-width: 1100px) {
	.work {max-width: 600px;}
}

